@model CRUD_Sample1.Models.EmployeeModel

@{
    ViewBag.Title = "Delete";
}

<h2>刪除員工資料</h2>

<form method="post" action="~/Employee/Delete">
    @Html.HiddenFor(m => m.Form1.EmployeeID)
    <table class="table">
        <tr>
            <th>LastName</th>
            <td>
                @Html.DisplayFor(m => m.Form1.LastName)
            </td>
        </tr>
        <tr>
            <th>FirstName</th>
            <td>
                @Html.DisplayFor(m => m.Form1.FirstName)
            </td>
        </tr>
    </table>
    <input type="submit" class="btn btn-primary" value="刪除" />
</form>

