@model CRUD_Sample1.Models.EmployeeModel

@{
    ViewBag.Title = "Details";
}

<h2>更新員工資料</h2>

<form method="post" action="~/Employee/Update">
    @Html.HiddenFor(m => m.Form1.EmployeeID)
    <table class="table">
        <tr>
            <th>LastName</th>
            <td>
                @Html.TextBoxFor(t => t.Form1.LastName)
            </td>
        </tr>
        <tr>
            <th>FirstName</th>
            <td>
                @Html.TextBoxFor(q => q.Form1.FirstName)
            </td>
        </tr>
    </table>
    <input type="submit" class="btn btn-primary" value="更新" />
</form>

